<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produtos</title>
</head>
<body>
<h2>Cadastrar Novo Produto</h2>
<form method="post" action="/produtos/novo">
    <label>Nome:</label><br>
    <input type="text" name="nome"><br>
    <label>Descrição:</label><br>
    <input type="text" name="descricao"><br>
    <label>Preço:</label><br>
    <input type="number" name="preco"><br>
    <label>Estoque:</label><br>
    <input type="number" name="estoque"><br><br>
    <button type="submit">Cadastrar</button>
</form>
</body>
</html>